@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: "Lato";
  src: url(/src/Fonts/Lato-Regular.ttf);
}

* {
  font-family: "Lato";
}
button,
a {
  cursor: pointer;
}
.MoviesList {
  display: flex;
  gap: 10px;
}
.MoviesCards {
  flex: 0 0 200px;
  width: 200px;
}
