@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: "Lato";
  src: url(/src/Fonts/Lato-Regular.ttf);
}

* {
  font-family: "Lato";
}
button,
a {
  cursor: pointer;
}
.MoviesList {
  display: flex;
  gap: 10px;
}
.MoviesCards {
  flex: 0 0 200px;
  width: 200px;
}

@media (max-width: 1440px) {
  .DiscoverList {
    grid-template-columns: repeat(6, 1fr);
  }
  .MoviesCards {
    width: 180px;
  }
  .logo {
    width: 150px;
  }
}
